body {
    font-family: sans-serif;
    background-color: yellow;
    margin-top: 175px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    width:100px;
    
}

