body {
    font-family:" georgia";
    color:grey;
    background-color: aquamarine;
    margin-top: 75px
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    
}
.total{
    margin-right: px;
        margin-left:px;
}
p{
    font-family:"timesnewroman";
    font-size:200%;
    color:whitesmoke;
    background-color:chocolate;
 padding-left:20px;
    padding-right:20px;
}
h2{color:black;
    background-color: yellowgreen;
}


