body {
    font-family:" georgia";
    color:grey;
    
    
}

.center {
    text-align: center;
}

.text-big 
{
    font-size: 100%;
    text-align: center;
}

.bold 
{
    font-weight: bold;
}

.img-medium 
{
    height: 200px;
    
}

p
   {
    font-family:"timesnewroman";
    font-size:100%;
    color:whitesmoke;
    
 padding-left:20px;
    padding-right:20px;
   }
h2
   {color:black;
    
   }

        .c{
            max-width:800px;
            padding-top:60px;
            padding-left:20px;
            padding-right:20px;
            font-family: georgia;
            margin : 0 auto;
            color:grey;
            
        }
    

